@font-face {
  font-family: avenir-book;
  src: url('./fonts/AvenirLTStd-Book.otf');
}
@font-face {
  font-family: avenir-roman;
  src: url('./fonts/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: avenir-black;
  src: url('./fonts/AvenirLTStd-Black.otf');
}


body {
  margin: 0;
}