@font-face {
  font-family: avenir-roman;
  src: url("./fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: avenir-black;
  src: url("./fonts/AvenirLTStd-Black.otf");
}

body {
  box-sizing: border-box;
  font-family: avenir-roman;
  margin: 0;
  display: flex;
  justify-content: center;
}

#root{
  height: 100%;
  width: 100%;
}