.view-home-container {
  display: flex;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 100vh;
  background-color: #ffffff;
}

.btn-group {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}

.navbar-bttn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-image: linear-gradient(100deg, #bce687, #6785c1) 1;
  margin: 10%;
  height: 40px;
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.collaborator-name {
  font-size: 22px;
  color: rgb(37, 37, 37);
}

.cont-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  width: 70%;
  cursor: pointer;
}

.icono-logout {
  width: 12%;
}

.logoutTitle {
  font-size: 1em;
  margin: 0% 5% 0% 5%;
}

.booking-container {
  background-color: #6785c1;
  color: white;
  width: 75%;
}

.container-nav-top {
  display: flex;
  flex-flow: row nowrap;
  height: 12vh;
}

.each-bttn-nav-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20%;
}

.nav-subtitle {
  color: white;
  margin: 0% 8% 0% 8%;
}

.nav-icon {
  width: 20%;
}

.order-arrow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.container-arrow {
  display: flex;
  width: 115px;
  justify-content: space-between;
  align-items: center;
}

.arrow-next {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.container-arrow-back {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.arrow-back {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}
