.container-login {
  height: 700px;
  width: 1150px;
  background-color: #ffffff;
}

.container-header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  margin-left: 70px;
  margin-right: 45px;
}

.container-btn {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.header-btn {
  border-style: none;
  background-color: white;
}

.header-btn:hover {
  opacity: 0.6;
}

.header-text {
  font-size: 20px;
  color: #1b1b1b;
}

.text-center {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 24px;
}

.container-body {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  width: 100%;
}

.container-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 65%;
}

.container-form {
  width: 200px;
  text-align: center;
  display: contents;
}

.form-control {
  width: 320px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 10px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  color: #464646;
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: 7px;
  background-color: #f8b4b4;
}

.btn-login {
  width: 130px;
  height: 35px;
  font-size: 12px;
  color: #ffffff;
  background: #6785c1;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
}

.btn-logintwo {
  width: 130px;
  font-size: 10px;
  height: 30px;
  color: #ffffff;
  background: #6785c1;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

.container-img {
  height: 100%;
  width: 35%;
  background-color: #93a6cc;
  /*background-image: url(images/ImagenTeclado.jpg);*/
  background-repeat: no-repeat;
  background-size: 100%;
}

.pass {
  font-size: 10px;
  margin-left: 180px;
  color: #9aac22;
}

footer {
  height: 60px;
  background-color: #6785c1;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navHour {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6785c1;
  font-size: 14px;
  border-radius: 7px;
  color: #ffffff;
}
