.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;

}

.title-booking{
  margin-top: 4%;
  font-size: 20px;
  text-align: center;
}

.btn-confirm {
  margin-top: 10%;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  width: 120px;
  height: 35px;
  font-size: 14px;
}

.btn-confirm:hover {
  opacity: 0.6;
}

.btn-add {
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  width: 100px;
  height: 35px;
  font-size: 12px;
}

.btn-addhour:hover {
  opacity: 0.6;
}


.btn-addhour {
  margin-top: 2%;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  width: 120px;
  height: 35px;
  font-size: 12px;
}

.btn-addhour:hover {
  opacity: 0.6;
}

.input-order {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.container-plano {
  margin-top: 1%;
  width: 670px;
  border-radius: 18px;
}

.bnt-select{
  margin-top: 10%;
  height: 40px;
  border-radius: 8px;
}

.bnt-selecttwo{
  height: 35px;
  width: 100px;
  border-radius: 8px;
}

.container-add{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
}